{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title%}{% endblock %}</title>
  <link rel = 'stylesheet' type="text/css" href = {% static 'style.css' %}>
  <script src = {% static 'all.js' %} type = 'text/javascript'></script>
</head>
<body>
  <header class = 'header'>
    <a href = {% url 'dashboard' %} class = 'logo'>ShortIT</a>
    <div class = 'profile_image d-flex align-items-center'>
      {% if user.username %}
        <a href = {% url 'logout' %}>Logout</a>
        <img src={% static 'profile.jpeg' %} alt = 'profile picture'>
      {% endif %}
    </div>
  </header>
  <section id = 'section-2'>
    {% if user.username %}
    <div class = 'dashboard'>
      <ul class = 'list-items'>
        <li class = 'list-item'><i class = 'fa fa-plus'></i><a class = 'list-item' href = "{% url 'new_url' %}">Add a new Url</a></li>
        <li class = 'list-item'><i class = 'fa fa-plus'></i><a class = 'list-item' href = "{% url 'new_url' %}">Add a new Url</a></li>
        <li class = 'list-item'><i class = 'fa fa-plus'></i><a class = 'list-item' href = "{% url 'new_url' %}">Add a new Url</a></li>
        <li class = 'list-item'><i class = 'fa fa-plus'></i><a class = 'list-item' href = "{% url 'new_url' %}">Add a new Url</a></li>
      </ul>
    </div>
    {% endif %}
    {% block body%}{% endblock %}
  </section>
</body>
</html>