{% extends 'layout.html' %}
{% block title%}Login{% endblock title%}
{% block body %}
<form action="{% url 'login'%}" method="post" autocomplete="off">
  <h1 class = 'text-center'>Login</h1>
  {% if error %}
  <div class="alert alert-danger text-center" role="alert">
    {{error}}
  </div>
  {% endif %}
  {% csrf_token %}
  <input type="text" name="username" id="username" placeholder="Username">
  <br/>
  <input type="password" name="password" id="password" placeholder = "Password">
  <br/>
  <div class = 'btn-group mb-4'>
  <button type = 'submit' class =  'btn btn-primary'>Login</button>
  <button type="reset">Clear fields</button>
</div>
  <p class = 'small'>Don't have an account already?? Create one <a href = "{% url 'register' %}">here</a></p>
</form>
{% endblock %}
{% block style %}
<style>
  form{
    width: 30%;
    margin: 10% auto;
  }
  form input{
    width: 100%;
    margin-bottom: 10px;
  }
  .btn-group{
    width: 100%;
  }
  .btn-group button{
    width: 50%;
  }
  .btn-group button:first-child{
    margin-right: 5px;
  }
</style>
{% endblock style %}