{% extends 'layout.html' %}
{% block title%}Register{% endblock title%}


{% block body %}
<form method = 'POST' action = "{% url 'register' %}" style = "width: 50%; margin: auto" autocomplete="off">
  {% csrf_token %}
  <input type="text" placeholder = 'Enter your first name'name="firstname" id="firstname" value = {{firstname}}>
  <br/>
  <input type="text" name="lastname" id="lastname" placeholder="Enter your last Name" value = {{lastname}}><br/>
  <input type="text" name="username" id="username" placeholder="Enter your username" value = {{username}}><br/>
  <input type="email" name="email_address" id="emailAddress"  placeholder = "enter your email address" value={{email_address}}><br/>
  <input type="password" name="password" id="password" placeholder="Enter your password" value = {{password}}><br/>
  <input type="password" name="conf_password" id='conf_password' placeholder="Retype your password"  value = {{conf_password}}><br/>
  <button class = 'btn btn-block btn-success btn-sm' type="submit">Register</button>
  <p>Already have an account? <a href = "{%url 'login' %}">Login</a></p>
</form>
{% endblock body%}